@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");


#preloader {
    position: fixed;
    inset: 0;
    background: #EEEFD5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.bike-loader {
    position: relative;
    width: 160px;
    height: 80px;
}

.bike-loader .wheel {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #3A6041;
    box-sizing: border-box;
    animation: spin-wheel 1s linear infinite;
}

.bike-loader .wheel-left { left: 10px; }
.bike-loader .wheel-right { right: 10px; }

.bike-loader .frame {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
    height: 4px;
    background: #3A6041;
}

.bike-loader .pedal {
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    border-radius: 50%;
    border: 3px solid #3A6041;
    box-sizing: border-box;
    animation: spin-pedal 0.6s linear infinite;
}

@keyframes spin-wheel {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes spin-pedal {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}


html{
    scroll-behavior: smooth;
}

body{
    margin: 0;  /*Marge extérieur*/
    padding: 0; /*Marge intérieur*/
    font-family: 'Cabin', sans-serif; /*Police pour toute la page*/
    padding-top: 80px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #3A6041; /*couleur ligne top*/
    background-color: #EEEFD5;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
}

nav .logo img {
    height: 100px;
}

nav .onglets{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10%;
}

nav .onglets a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #3A6041;
}

nav .onglets a span {
    display: inline-block;
    width: 80px;
    padding-bottom: 4px;
    border-bottom: 2px solid #3A6041;
    text-align: center;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #13552F;
    /*background: url('image/nomdel'image.jpg);*/ /*Vérifier est ce que les images doivent être sur un serveur spéciale en ligne*/
    background-size: cover;
    color: #fff; /*couleur du texte*/
    padding: 40px;
}

header h1{
    font-family: 'Arvo', sans-serif;
    font-size: 50px;
}

header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

header button{
    padding: 10px 20px;
    background-color: #fff;
    color: #000000;
    border: none;
    font-size: 20px;
    font-family: 'Merriweather', sans-serif; 
    outline: none;
    cursor: pointer;

}

.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;

}

.main .content .card .left{
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: #fff;
}

.main .content .card.right{
    flex: 0 0 70%;
}

.main .content .card .right img{
    width: 100%;
    height: auto;
    display: block;
}

footer{
    margin-top: 40px;
    border-top: 5px #717171;
    background-color: #000000;
    color: #fff;
    padding: 30px 60px;
}

footer h1{
    font-family: "Arvo";
    text-decoration: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

footer h3{
    font-size: x-large;
}

footer .contacts{
    display:flex;
    flex-direction: row;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
}

footer .contacts .lignedeuxcontact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .contacts .lignedeuxcontact .horaires .ligne-horaire {
    display: grid;
    grid-template-columns: 120px auto;
    gap: 10px;
    margin-bottom: 4px;
}

footer .contacts .lignedeuxcontact .horaires .jour {
    font-weight: 600;
}

footer .contacts .lignedeuxcontact a{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

footer .contacts .lignedeuxcontact a i{
    margin-right: 8px;
}

footer .contacts .lignedeuxcontact a span{
    color: #fff;
}

footer .contacts .lignedeuxcontact a.instagram i{
    color: #E1306C;
}

footer .contacts .lignedeuxcontact a.facebook i{
    color: #1877F2;
}

footer .contacts .lignedeuxcontact a[href^="tel:"] i{
    color: #2dcd60
}

footer .contacts .lignedeuxcontact a[href^="mailto:"] i{
    color: #ffd700
}

footer .contacts .lignedeuxcontact p{
    max-width: 250px;
    margin: 5px 0px;
}

@media screen and (max-width: 1024px) {

    nav .logo img{
        margin-left: 1%;
        height: 90px;
    }

    nav .onglets {
        gap: 12px;
        margin-right: 6%;
    }

    nav .onglets a span {
        width: 75px;
        font-size: 15px;
        padding-bottom: 2px;
        border-bottom: 2px solid #3A6041;
    }

    footer {
        padding: 30px 40px;
    }

    footer p,
    footer a,
    footer span {
        font-size: 15px;
    }

    footer .contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 40px;
        max-width: 800px;
        margin-left: 5%;
        margin-right: 5%;
    }

    footer .contacts .lignedeuxcontact {
        width: 100%;
        align-items: center;
    }

    footer .contacts .lignedeuxcontact .horaires .ligne-horaire{
        grid-template-columns: 80px auto;
        gap: 6px;
    }
}


@media screen and (max-width:680px){
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav .logo {
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    nav .logo img {
        margin-bottom: 0px;
        height: 50px;
    }

    nav .onglets{
        margin-top: 2px;
        width: 100%;
        max-width: 400px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 6px;
        margin-left: 2%;
        margin-right: 2%;
    }

    nav .onglets a {
        justify-content: center;
    }

    nav .onglets a span {
        width: 50px;
        font-size: 11px;
        padding-bottom: 2px;
        border-bottom: 2px solid #3A6041;
    }

    .main .card{
        margin: 10px;
    }

    .main .content .card .right img{
        height: 200px;
        width: 100%;
        margin-top: 0px;
    }

    .main .content .card{
        display: block;
    }

    footer {
        padding: 30px 20px;
    }

    footer p,
    footer a,
    footer span {
        font-size: 13px;
    }

    footer .contacts {
        grid-template-columns: 1fr;
    }

    footer .contacts .lignedeuxcontact {
        width: 100%;
        align-items: baseline;
    }

    footer .contacts .lignedeuxcontact .horaires .ligne-horaire {
        grid-template-columns: 60px auto;
    }
}