@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;  /*Marge extérieur*/
    padding: 0; /*Marge intérieur*/
    font-family: 'Merriweather', sans-serif; /*Police pour toute la page*/

}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #717171; /*couleur ligne top*/
}

nav h1{
    color: #000000;  /*couleur titre*/
    font-family: 'Merriweather', sans-serif; /*Police différentes pour ce texte précis*/
    font-size: 40px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 300px;

}
nav .onglets a{
    text-decoration: none;  /*on enlève la mise en forme de base*/
    color: #000000 ;
    margin-right: 10px; 
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #13552F;
    /*background: url('image/nomdel'image.jpg);*/ /*Vérifier est ce que les images doivent être sur un serveur spéciale en ligne*/
    background-size: cover;
    color: #fff; /*couleur du texte*/
    padding: 40px;
}

header h1{
    font-family: 'Merriweather', sans-serif;
    font-size: 50px;
}

header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

header button{
    padding: 10px 20px;
    background-color: #fff;
    color: #000000;
    border: none;
    font-size: 20px;
    font-family: 'Merriweather', sans-serif; 
    outline: none;
    cursor: pointer;

}

.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;

}

.main .content .card .left{
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: #fff;
}

.main .content .card.right{
    flex: 0 0 70%;
}

.main .content .card .right img{
    width: 100%;
    height: auto;
    display: block;
}

footer{
    margin-top: 15%;
    border-top: 5px #717171;
    background-color: #000000;
    color: #fff;
    padding: 30px 100px;
}

footer h1{
    text-decoration: underline;
    margin-bottom: 10px;
}

footer .contacts{
    margin-top: 0px;
    display:flex;
    flex-direction: row;
    gap: 13%;
}

footer .contacts .lignedeuxcontact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .contacts .lignedeuxcontact a{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

footer .contacts .lignedeuxcontact a i{
    margin-right: 8px;
}

footer .contacts .lignedeuxcontact a span{
    color: #fff;
}

footer .contacts .lignedeuxcontact a.instagram i{
    color: #E1306C;
}

footer .contacts .lignedeuxcontact a.facebook i{
    color: #1877F2;
}

footer .contacts .lignedeuxcontact a[href^="tel:"] i{
    color: #2dcd60
}

footer .contacts .lignedeuxcontact a[href^="mailto:"] i{
    color: #ffd700
}

footer .contacts .lignedeuxcontact p{
    max-width: 250px;
    margin: 5px 0px;
}


@media screen and (max-width:680px){
    nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }

  /*  .main .content .card {
        flex-direction: column;
    }

    .main .content .card .left,
    .main .content .card .right {
        flex: 0 0 auto;
        width: 100%;
    }*/
    
    .main .card{
        margin: 10px;
    }

    .main .content .card .right img{
        height: 200px;
        width: 100%;
        margin-top: 0px;
    }

    .main .content .card{
        display: block;
    }

    footer {
        padding: 30px;
    }

}